

.progress-moved .progress-bar {
    animation: progressAnimation 10s linear;
}

@keyframes progressAnimation {
    0% {
        width: 100%;
        background-color: #77b300;
    }

    50% {
        width: 50%;
        background-color: #e69900;
    }


    100% {
        width: 0%;
        background-color: #ff4000;
    }
}