@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-color: ghostwhite ;
}

.button-prm:hover {
  -webkit-transform: translateY(-1px);
  transform: rotate(-2deg);
  transition: 0.20s;
}