@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Righteous';
  src: url('../public/fonts/Righteous-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
background-color: ghostwhite ;
font-family: "Righteous";
}

.button-prm:hover {
  -webkit-transform: translateY(-1px);
  transform: rotate(-2deg);
  transition: 0.20s;
}

.modal-main {
  font-family: "Righteous";
}

.modal-box {
  background-color: ghostwhite;
}

.modal-dash {
  background-color: white;
}

.category-tag {
  position: absolute;
  top: 250px;
  border: 3px solid rgb(82 82 82 / var(--tw-border-opacity));
  border-radius: 0.375rem;
}

.fade-in {
  animation: fadeIn 2s;
}

.fade-in-long {
  animation: fadeIn 4s;
}

.spinning {
  animation: rotating 1.5s linear infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}